<html>
<head>
<style>
body {
font-family:'Arial','Helvetica',sans-serif;
font-size:75%;
background: transparent;
}

.btn  {
background-image:url(/img/bgButton.gif);
background-position:left top;
text-decoration:none;
background-repeat:repeat-x;
border-color:-moz-use-text-color #5C5D61 #5C5D61 -moz-use-text-color;
border-style:none solid solid none;
border-width:medium 1px 1px medium;
color:#FFFFFF;
cursor:pointer;
display:inline;
font-family:'Verdana','Geneva',sans-serif;
font-size:60%;
font-weight:bold;
padding:3px;
}

.btn span {
margin:4px;
}

.label {
color:#333333;
font-size:70%;
font-weight:bold;
padding:2px 10px 2px 2px;
text-align:right;
width:38%;
}




</style>
<script type="text/javascript">

   var parent_url = parent.location.href;
   var this_id = parent_url.substring(parent_url.length , parent_url.length - 15);

function openRelationWizard(){
   parent.location = "../apex/TIMBASURVEYS__SurveyRelatedObjectWizard?rel_id="+this_id;
}

function openSummaryBrowser(){
   parent.location = "../apex/TIMBASURVEYS__RelatedSurveySummaries?pid="+this_id;
}

function resizeIframe(this_iframe){
  var url = this_iframe.document.URL;
  var scontrol_id = url.split('lid=')[1].split('&')[0];
parent.document.getElementById(scontrol_id).height =  "50px";
}

</script>
</head>
<body onload="resizeIframe(this);">
<table style="width:96%">
  <tr>
    <td class="label">Timba Surveys</td>
    <td class="buttons">
        <a href="javascript:openRelationWizard();"  class="btn"><span>Related Surveys</span></a>
     </td>     
  </tr>
 <tr><td class="label">&nbsp;</td><td class="buttons"><a href="javascript:openSummaryBrowser();"   class="btn"><span>View Related Survey Summaries</span></a></td></tr>
</table>

</body>
</html>