<style>
            .textlabel {
                color: #084B8A;
                font-size: 13px
            }
             #innerheaderDiv {
                padding:10px !important;
                width: 50%;
                margin: 0px 28px;
            }
            .NewDiscoverySection{
                 width: 95%;
                 margin: auto;
                 border: 1px solid #A5A6A5;
                 margin-bottom: 10px;
                 -moz-border-radius: 11px;
                 -webkit-border-radius: 11px;
                 border-radius: 11px;
                 box-shadow: 0px 13px 161px 55px #C7D6E9 inset;
                 -webkit-box-shadow: 0px 13px 161px 55px #C7D6E9 inset;
                 -moz-box-shadow: 0px 13px 161px 55px #C7D6E9 inset;
                 background: white !important;
              }
            .btnDiv {
                 width: 95%;
                 margin: auto;
                 border: 1px solid #A5A6A5;
                 margin-bottom: 10px;
                 -moz-border-radius: 11px;
                 -webkit-border-radius: 11px;
                 border-radius: 11px;
                 box-shadow: 0px 13px 161px 55px #C7D6E9 inset;
                 -webkit-box-shadow: 0px 13px 161px 55px #C7D6E9 inset;
                 -moz-box-shadow: 0px 13px 161px 55px #C7D6E9 inset;
                 text-align: center;
            }
          /* -----------------------------------------New Tabbed panel controller style css---------------------- */
        .tabbed-area{
        }
        .tabbed-area > ul{
            list-style:none;
             height: 27px;
             width: 908px;
         }
        .tabbed-area > ul > li{
            float:left;
            margin: 0 2px 0 0;
            padding: 9px 10px 13px;
            display: inline-block !important;
            position: relative;
            box-shadow: 0px -42px 54px -20px #236FBD inset;
            -webkit-box-shadow: 0px -54px 54px -20px #236FBD inset;
            -moz-box-shadow: 0px -42px 54px -20px #236FBD inset;
            border-radius: 10px 10px 0px 0px;
            -webkit-border-radius: 10px 10px 0px 0px;
            -moz-border-radius: 10px 10px 0px 0px;
            font-family: Arial,Helvetica,sans-serif;
            text-align: center;
          }
         .tabbed-area > ul > li >a{
            padding-top:20px;
            text-align:center;
            color: white;
            text-decoration: none;
            font-size: 13px;
            font-family: Arial,Helvetica,sans-serif;
            text-align: center;
            font-weight: bolder;
          }
          .tabbed-area > ul > li:hover{
            background: white;
            cursor: pointer;
            box-shadow: 0px -42px 54px -20px rgba(73, 72, 72, 0.98) inset;
          }
          .tabbed-area > ul > li.tabActiveHeader{
            background: white;
            cursor: pointer;
            box-shadow: 0px -54px 54px -20px orange inset;
          }
         .tabbed-area > ul > li.tabActiveHeader > a {
                padding-top:20px;
                text-align:center;
                color: black;
                text-decoration: none;
                font-size: 13px;
                font-family: Arial,Helvetica,sans-serif;
                text-align: center;
                font-weight: bolder;
          }
          .tabContentWrapper{
            border: 1px solid #C1C9CA;
            width: 86%;
            padding: 20px;
            margin-left: 40px;
            min-height: 124px;
            border-top: 6px solid orange;
            margin-top: -3px;
            border-radius: 0px 15px 15px 0px;
          }
          .removeMargin{
            padding-left: 0px;
            -webkit-padding-start: 0px;
          }
          .lightInsight{
          }
          .errorTab{
            border-top: 3px solid red;
          }
         .blockHeader {
            width: 45%;
            padding: 7px 1px 5px 11px;
            box-shadow: 1px 0px 16px 1px gray;
          }

          .blockHeader > h3{
            font-size: 17px;
          }
         .fullwidthWithBorder{
            width: 96%;
            outline:none;
            margin-top: 11px;
            height: 125px;
            resize: none;
            box-shadow: 0px 0px 7px 0px lightblue inset;
            -webkit-box-shadow: 0px 0px 7px 0px lightblue inset;
            -moz-box-shadow: 0px 0px 7px 0px lightblue inset;
            font-size: 12px !important;
            line-height: 1 !important;
            border: 1px solid lightgray !important;
            border-radius: 10px !important;
            -webkit-border-radius: 10px !important;
            -moz-border-radius: 10px !important;
            box-sizing : border-box;
            padding : 5px;
          }
          .box-wrap{

            border: 1px solid #C1C9CA;
            width: 86%;
            /* border-radius: 15px; */
            padding: 20px;
            margin-left: 40px;
            min-height: 124px;
            border-top: 6px solid orange;
            margin-top: -3px;
            border-radius: 0px 15px 15px 15px;
         }
         #overlay {
            background: url("/resource/1398195934000/EmailValidation/loading.gif") no-repeat scroll center center rgba(177, 177, 177, 0.71);
            border: 0px solid #000000;
            bottom: 0;
            left: 0;
            opacity: 0.75;
            position: fixed;
            top: 0;
            visibility: hidden;
            width: 100%;
            border-radius: 15px;
            z-index: 1000;
        }
        </style>
