<ion-view view-title="Today" cache-view="false">
    <ion-content class="padding">
        <div class="list card">
            <!-- Comment -->
            <div class="item item-divider">Tasks</div>
            <div class="item item-icon-right" ui-sref="tab.tasks">
                You have <b>{{taskCount}}</b> tasks to complete
                <i class="icon ion-ios-arrow-right"></i>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Events</div>
            <div class="item item-icon-right" ui-sref="tab.events({'when' : 'today'})">
                You've
                <b>{{eventCount}}</b> meetings today.
                <i class="icon ion-ios-arrow-right"></i>
            </div>
        </div>
        <div class="list card">
            <div class="item item-divider">Upcoming</div>
            <div class="item item-icon-right" ui-sref="tab.events({'when' : 'tomorrow'})">
                You've
                <b>{{eventTomorrowCount}}</b> meetings tomorrow.
                <i class="icon ion-ios-arrow-right"></i>
            </div>
        </div>
    </ion-content>
</ion-view>
