<?xml version="1.0" encoding="UTF-8"?>
<Network xmlns="http://soap.sforce.com/2006/04/metadata">
    <allowMembersToFlag>false</allowMembersToFlag>
    <branding>
        <loginFooterText>Mozilla</loginFooterText>
        <loginLogo>Communities_Shared_Document_Folder/mozilla_250x100px_Grey_background_png.png</loginLogo>
        <pageHeader>Logo_Folder/Mozilla_Logo_B_W_New_png.png</pageHeader>
        <primaryColor>#1797C0</primaryColor>
        <primaryComplementColor>#FFFFFF</primaryComplementColor>
        <quaternaryColor>#B1BAC1</quaternaryColor>
        <quaternaryComplementColor>#222222</quaternaryComplementColor>
        <secondaryColor>#51606E</secondaryColor>
        <tertiaryColor>#DDE4E9</tertiaryColor>
        <tertiaryComplementColor>#222222</tertiaryComplementColor>
        <zeronaryColor>#F7F7F7</zeronaryColor>
        <zeronaryComplementColor>#222222</zeronaryComplementColor>
    </branding>
    <changePasswordTemplate>unfiled$public/CommunityChangePasswordEmailTemplate</changePasswordTemplate>
    <emailSenderAddress>kwilson@mozilla.com</emailSenderAddress>
    <emailSenderName>Mozilla&apos;s CA Community</emailSenderName>
    <enableGuestChatter>false</enableGuestChatter>
    <enableInvitation>false</enableInvitation>
    <enableKnowledgeable>false</enableKnowledgeable>
    <enableNicknameDisplay>false</enableNicknameDisplay>
    <enablePrivateMessages>false</enablePrivateMessages>
    <enableReputation>false</enableReputation>
    <forgotPasswordTemplate>unfiled$public/CommunityForgotPasswordEmailTemplate</forgotPasswordTemplate>
    <logoutUrl>https://mozillacacommunity.force.com/CustomLogout</logoutUrl>
    <networkMemberGroups>
        <profile>System Administrator - Mozilla</profile>
        <profile>Customer Community Plus User - CAs</profile>
        <profile>Standard User - Mozilla</profile>
    </networkMemberGroups>
    <newSenderAddress>poonam@apicalapps.com</newSenderAddress>
    <picassoSite>CA_Community1</picassoSite>
    <selfRegistration>false</selfRegistration>
    <sendWelcomeEmail>true</sendWelcomeEmail>
    <site>CA_Community</site>
    <status>Live</status>
    <tabs>
        <defaultTab>home</defaultTab>
        <standardTab>home</standardTab>
        <standardTab>Account</standardTab>
        <standardTab>Contact</standardTab>
        <standardTab>report</standardTab>
    </tabs>
    <welcomeTemplate>unfiled$public/CACommunityWelcomeEmailTemplate</welcomeTemplate>
</Network>
