<!--
    // date picker code snippet - lucena
->
<div class="datePicker" id="datePicker">
    <div class="dateBar">
        <img src="/s.gif" alt="Previous Month" class="calLeft" onblur="this.className = 'calLeft';"
            onclick="DatePicker.datePicker.prevMonth();" onfocus="this.className = 'calLeftOn';"
            onmouseout="this.className = 'calLeft';" onmouseover="this.className = 'calLeftOn';"
            title="Previous Month" />
        <select id="calMonthPicker" name="calMonthPicker" title="Month">
            <option value="0">January</option>
            <option value="1">February</option>
            <option value="2">March</option>
            <option value="3">April</option>
            <option value="4">May</option>
            <option value="5">June</option>
            <option value="6">July</option>
            <option value="7">August</option>
            <option value="8">September</option>
            <option value="9">October</option>
            <option value="10">November</option>
            <option value="11">December</option>
        </select>
        <img src="/s.gif" alt="Next Month" class="calRight" onblur="this.className = 'calRight';"
            onclick="DatePicker.datePicker.nextMonth();" onfocus="this.className = 'calRightOn';"
            onmouseout="this.className = 'calRight';" onmouseover="this.className = 'calRightOn';"
            title="Next Month" />
        <select id="calYearPicker" name="calYearPicker" title="Year">
            <option value="2006">2006</option>
            <option value="2007">2007</option>
            <option value="2008">2008</option>
            <option value="2009">2009</option>
            <option value="2010">2010</option>
            <option value="2011">2011</option>
            <option value="2012">2012</option>
        </select>
    </div>
    <div class="calBody">
        <table class="calDays" border="0" cellpadding="0" cellspacing="0" id="datePickerCalendar">
            <tr>
                <th class="dayOfWeek" scope="col">
                    Sun
                </th>
                <th class="dayOfWeek" scope="col">
                    Mon
                </th>
                <th class="dayOfWeek" scope="col">
                    Tue
                </th>
                <th class="dayOfWeek" scope="col">
                    Wed
                </th>
                <th class="dayOfWeek" scope="col">
                    Thu
                </th>
                <th class="dayOfWeek" scope="col">
                    Fri
                </th>
                <th class="dayOfWeek" scope="col">
                    Sat
                </th>
            </tr>
            <tr id="calRow1">
                <td onblur="hiOff(this);" onclick="DatePicker.datePicker.selectDate(this);" onfocus="hiOn(this);"
                    onmouseout="hiOff(this);" onmouseover="hiOn(this);">
                    &nbsp;
                </td>
                <td onblur="hiOff(this);" onclick="DatePicker.datePicker.selectDate(this);" onfocus="hiOn(this);"
                    onmouseout="hiOff(this);" onmouseover="hiOn(this);">
                    &nbsp;
                </td>
                <td onblur="hiOff(this);" onclick="DatePicker.datePicker.selectDate(this);" onfocus="hiOn(this);"
                    onmouseout="hiOff(this);" onmouseover="hiOn(this);">
                    &nbsp;
                </td>
                <td onblur="hiOff(this);" onclick="DatePicker.datePicker.selectDate(this);" onfocus="hiOn(this);"
                    onmouseout="hiOff(this);" onmouseover="hiOn(this);">
                    &nbsp;
                </td>
                <td onblur="hiOff(this);" onclick="DatePicker.datePicker.selectDate(this);" onfocus="hiOn(this);"
                    onmouseout="hiOff(this);" onmouseover="hiOn(this);">
                    &nbsp;
                </td>
                <td onblur="hiOff(this);" onclick="DatePicker.datePicker.selectDate(this);" onfocus="hiOn(this);"
                    onmouseout="hiOff(this);" onmouseover="hiOn(this);">
                    &nbsp;
                </td>
                <td onblur="hiOff(this);" onclick="DatePicker.datePicker.selectDate(this);" onfocus="hiOn(this);"
                    onmouseout="hiOff(this);" onmouseover="hiOn(this);">
                    &nbsp;
                </td>
            </tr>
            <tr id="calRow2">
                <td onblur="hiOff(this);" onclick="DatePicker.datePicker.selectDate(this);" onfocus="hiOn(this);"
                    onmouseout="hiOff(this);" onmouseover="hiOn(this);">
                    &nbsp;
                </td>
                <td onblur="hiOff(this);" onclick="DatePicker.datePicker.selectDate(this);" onfocus="hiOn(this);"
                    onmouseout="hiOff(this);" onmouseover="hiOn(this);">
                    &nbsp;
                </td>
                <td onblur="hiOff(this);" onclick="DatePicker.datePicker.selectDate(this);" onfocus="hiOn(this);"
                    onmouseout="hiOff(this);" onmouseover="hiOn(this);">
                    &nbsp;
                </td>
                <td onblur="hiOff(this);" onclick="DatePicker.datePicker.selectDate(this);" onfocus="hiOn(this);"
                    onmouseout="hiOff(this);" onmouseover="hiOn(this);">
                    &nbsp;
                </td>
                <td onblur="hiOff(this);" onclick="DatePicker.datePicker.selectDate(this);" onfocus="hiOn(this);"
                    onmouseout="hiOff(this);" onmouseover="hiOn(this);">
                    &nbsp;
                </td>
                <td onblur="hiOff(this);" onclick="DatePicker.datePicker.selectDate(this);" onfocus="hiOn(this);"
                    onmouseout="hiOff(this);" onmouseover="hiOn(this);">
                    &nbsp;
                </td>
                <td onblur="hiOff(this);" onclick="DatePicker.datePicker.selectDate(this);" onfocus="hiOn(this);"
                    onmouseout="hiOff(this);" onmouseover="hiOn(this);">
                    &nbsp;
                </td>
            </tr>
            <tr id="calRow3">
                <td onblur="hiOff(this);" onclick="DatePicker.datePicker.selectDate(this);" onfocus="hiOn(this);"
                    onmouseout="hiOff(this);" onmouseover="hiOn(this);">
                    &nbsp;
                </td>
                <td onblur="hiOff(this);" onclick="DatePicker.datePicker.selectDate(this);" onfocus="hiOn(this);"
                    onmouseout="hiOff(this);" onmouseover="hiOn(this);">
                    &nbsp;
                </td>
                <td onblur="hiOff(this);" onclick="DatePicker.datePicker.selectDate(this);" onfocus="hiOn(this);"
                    onmouseout="hiOff(this);" onmouseover="hiOn(this);">
                    &nbsp;
                </td>
                <td onblur="hiOff(this);" onclick="DatePicker.datePicker.selectDate(this);" onfocus="hiOn(this);"
                    onmouseout="hiOff(this);" onmouseover="hiOn(this);">
                    &nbsp;
                </td>
                <td onblur="hiOff(this);" onclick="DatePicker.datePicker.selectDate(this);" onfocus="hiOn(this);"
                    onmouseout="hiOff(this);" onmouseover="hiOn(this);">
                    &nbsp;
                </td>
                <td onblur="hiOff(this);" onclick="DatePicker.datePicker.selectDate(this);" onfocus="hiOn(this);"
                    onmouseout="hiOff(this);" onmouseover="hiOn(this);">
                    &nbsp;
                </td>
                <td onblur="hiOff(this);" onclick="DatePicker.datePicker.selectDate(this);" onfocus="hiOn(this);"
                    onmouseout="hiOff(this);" onmouseover="hiOn(this);">
                    &nbsp;
                </td>
            </tr>
            <tr id="calRow4">
                <td onblur="hiOff(this);" onclick="DatePicker.datePicker.selectDate(this);" onfocus="hiOn(this);"
                    onmouseout="hiOff(this);" onmouseover="hiOn(this);">
                    &nbsp;
                </td>
                <td onblur="hiOff(this);" onclick="DatePicker.datePicker.selectDate(this);" onfocus="hiOn(this);"
                    onmouseout="hiOff(this);" onmouseover="hiOn(this);">
                    &nbsp;
                </td>
                <td onblur="hiOff(this);" onclick="DatePicker.datePicker.selectDate(this);" onfocus="hiOn(this);"
                    onmouseout="hiOff(this);" onmouseover="hiOn(this);">
                    &nbsp;
                </td>
                <td onblur="hiOff(this);" onclick="DatePicker.datePicker.selectDate(this);" onfocus="hiOn(this);"
                    onmouseout="hiOff(this);" onmouseover="hiOn(this);">
                    &nbsp;
                </td>
                <td onblur="hiOff(this);" onclick="DatePicker.datePicker.selectDate(this);" onfocus="hiOn(this);"
                    onmouseout="hiOff(this);" onmouseover="hiOn(this);">
                    &nbsp;
                </td>
                <td onblur="hiOff(this);" onclick="DatePicker.datePicker.selectDate(this);" onfocus="hiOn(this);"
                    onmouseout="hiOff(this);" onmouseover="hiOn(this);">
                    &nbsp;
                </td>
                <td onblur="hiOff(this);" onclick="DatePicker.datePicker.selectDate(this);" onfocus="hiOn(this);"
                    onmouseout="hiOff(this);" onmouseover="hiOn(this);">
                    &nbsp;
                </td>
            </tr>
            <tr id="calRow5">
                <td onblur="hiOff(this);" onclick="DatePicker.datePicker.selectDate(this);" onfocus="hiOn(this);"
                    onmouseout="hiOff(this);" onmouseover="hiOn(this);">
                    &nbsp;
                </td>
                <td onblur="hiOff(this);" onclick="DatePicker.datePicker.selectDate(this);" onfocus="hiOn(this);"
                    onmouseout="hiOff(this);" onmouseover="hiOn(this);">
                    &nbsp;
                </td>
                <td onblur="hiOff(this);" onclick="DatePicker.datePicker.selectDate(this);" onfocus="hiOn(this);"
                    onmouseout="hiOff(this);" onmouseover="hiOn(this);">
                    &nbsp;
                </td>
                <td onblur="hiOff(this);" onclick="DatePicker.datePicker.selectDate(this);" onfocus="hiOn(this);"
                    onmouseout="hiOff(this);" onmouseover="hiOn(this);">
                    &nbsp;
                </td>
                <td onblur="hiOff(this);" onclick="DatePicker.datePicker.selectDate(this);" onfocus="hiOn(this);"
                    onmouseout="hiOff(this);" onmouseover="hiOn(this);">
                    &nbsp;
                </td>
                <td onblur="hiOff(this);" onclick="DatePicker.datePicker.selectDate(this);" onfocus="hiOn(this);"
                    onmouseout="hiOff(this);" onmouseover="hiOn(this);">
                    &nbsp;
                </td>
                <td onblur="hiOff(this);" onclick="DatePicker.datePicker.selectDate(this);" onfocus="hiOn(this);"
                    onmouseout="hiOff(this);" onmouseover="hiOn(this);">
                    &nbsp;
                </td>
            </tr>
            <tr id="calRow6">
                <td onblur="hiOff(this);" onclick="DatePicker.datePicker.selectDate(this);" onfocus="hiOn(this);"
                    onmouseout="hiOff(this);" onmouseover="hiOn(this);">
                    &nbsp;
                </td>
                <td onblur="hiOff(this);" onclick="DatePicker.datePicker.selectDate(this);" onfocus="hiOn(this);"
                    onmouseout="hiOff(this);" onmouseover="hiOn(this);">
                    &nbsp;
                </td>
                <td onblur="hiOff(this);" onclick="DatePicker.datePicker.selectDate(this);" onfocus="hiOn(this);"
                    onmouseout="hiOff(this);" onmouseover="hiOn(this);">
                    &nbsp;
                </td>
                <td onblur="hiOff(this);" onclick="DatePicker.datePicker.selectDate(this);" onfocus="hiOn(this);"
                    onmouseout="hiOff(this);" onmouseover="hiOn(this);">
                    &nbsp;
                </td>
                <td onblur="hiOff(this);" onclick="DatePicker.datePicker.selectDate(this);" onfocus="hiOn(this);"
                    onmouseout="hiOff(this);" onmouseover="hiOn(this);">
                    &nbsp;
                </td>
                <td onblur="hiOff(this);" onclick="DatePicker.datePicker.selectDate(this);" onfocus="hiOn(this);"
                    onmouseout="hiOff(this);" onmouseover="hiOn(this);">
                    &nbsp;
                </td>
                <td onblur="hiOff(this);" onclick="DatePicker.datePicker.selectDate(this);" onfocus="hiOn(this);"
                    onmouseout="hiOff(this);" onmouseover="hiOn(this);">
                    &nbsp;
                </td>
            </tr>
        </table>
        <div class="buttonBar">
            <a href="javascript:DatePicker.datePicker.selectDate('today');" class="calToday">Today</a></div>
    </div>
</div>