<HTML>
<HEAD>

<script src="/soap/ajax/11.1/connection.js" type="text/javascript" language="javascript"></script> 
<SCRIPT language='JavaScript'>


{!INCLUDE($SControl.ZuoraQuoteLibrary)}

var templateId = g_Template_Id;
var sessionId = '{!API.Session_ID}';
var serverUrl = '{!API.Partner_Server_URL_100}';
var quoteId = '{!Quote__c.Id}';

function init(){

   if (!templateId){

      var el = document.getElementById('error');
      el.style.display = 'block';

   } else {

      var qs = "templateId=" + templateId + "&sessionId=" + sessionId + "&serverUrl=" + serverUrl + "&quoteId=" + quoteId;
      var url = g_ZuoraQuoteURL + '?' + qs;
      document.location = url;
   }

}

</SCRIPT>

</HEAD>
<BODY onload="init();">
<div id="error" style="display:none;">
    Your default template is not properly configured. Please set the g_Template_Id value in the ZuoraQuoteSettings S-Control to configure the default quote template.
</div>
</BODY>
</HTML>