#customTable {
    margin-top:12px;
    border:outset 3px #35b4e9;
    width:100%;
}

#customTable th, #customTable tr, #customTable td {
    border:outset 1px #35b4e9;
}

tr:nth-child(even) {
    background: #d0e6ed;
}