<ion-view view-title="Tasks">
    <ion-nav-buttons side="primary">
        <button class="button button-icon icon ion-ios-checkmark-outline" ng-click="toggleComplete()">          
        </button>
    </ion-nav-buttons>

    <ion-content>        
        <!-- The list directive is great, but be sure to also checkout the collection repeat directive when scrolling through large lists -->
        <ion-list can-swipe="true" show-delete="showBulkComplete">
            <ion-item ng-repeat="task in tasks" item="task" class="item-remove-animate" 
            ng-click="view(task)">
                {{ task.Subject }}
                <p>
                  {{task.ActivityDate | date:'longDate'}}
                </p>
                <ion-delete-button class="button-positive ion-ios-checkmark " ng-click="complete(task)">
                </ion-delete-button>
                <ion-option-button class="button button-positive" ng-click="edit(task)">
                    <i class="ion-edit"></i>
                </ion-option-button>
                <ion-option-button class="button button-balanced" ng-click="complete(task)">
                    <i class="ion-ios-checkmark"></i>
                </ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
