<ion-view view-title="Events">
    <ion-content>
        <ion-list can-swipe="true">
            <ion-item ng-repeat="event in events" item="event" class="item-remove-animate item-icon-right">
                <div class="row" ng-click="view(event)">
                    <div class="col col-20 dark" style="font-size: small;">
                        {{event.ActivityDateTime | date:'dd MMM'}}
                        <p style="font-size: small;">
                            {{event.ActivityDateTime | date:'shortTime'}}
                        </p>
                    </div>
                    <div class="col">
                        <h2>{{ event.Subject }}</h2 >
                    </div>                    
                </div>                  
                <span class="icon" ng-click="edit(event)">     
                  <i class="ion-ios-compose-outline" ></i>
                </span>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
