<!--
Create tabs with an icon and label, using the tabs-positive style.
Each tab's child <ion-nav-view> directive will have its own
navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <!-- Dashboard Tab -->
  <ion-tab title="Dashboard" 
    icon-off="ion-ios-body-outline" icon-on="ion-ios-body" 
      href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Tasks" 
    icon-off="ion-ios-checkmark-outline" icon-on="ion-ios-checkmark" 
      href="#/tab/tasks">
    <ion-nav-view name="tab-tasks"></ion-nav-view>
  </ion-tab>

  <!-- Events Tab -->
  <ion-tab title="Events" icon-off="ion-ios-calendar-outline" 
    icon-on="ion-ios-calendar" href="#/tab/events/today">
    <ion-nav-view name="tab-events"></ion-nav-view>
  </ion-tab>
  


</ion-tabs>
