<script language="JavaScript" type="text/javascript"> 
function get_cookie ( cookie_name ) { 
	var results = document.cookie.match ( '(^|;) ?' + cookie_name + '=([^;]*)(;|$)' ); 
	if ( results ) return ( unescape ( results[2] ) ); else return null; 
} 
function doLoadMashup() {
	var frameHeight = "200"; 
	try { window.frameElement.style.height = "400px"; frameHeight = "400"; } catch (e) {} 
	var crmMashup = "https://my.insideview.com/iv/crm/analyseAccount.do";
	crmMashup += "?crm_org_id={!Organization.Id}";
	crmMashup += "&crm_org_name={!$Organization.Name}";
	crmMashup += "&crm_org_city={!$Organization.City}";
	crmMashup += "&crm_org_country={!$Organization.Country}";
	crmMashup += "&crm_org_state={!$Organization.State}";
	crmMashup += "&crm_org_postal={!$Organization.PostalCode}";
	crmMashup += "&crm_org_phone={!$Organization.Phone}";
	crmMashup += "&crm_user_id={!User.Id}";
	crmMashup += "&crm_user_title={!$User.Title}";
	crmMashup += "&crm_user_fn={!$User.FirstName}";
	crmMashup += "&crm_user_ln={!$User.LastName}";
	crmMashup += "&crm_user_phone={!$User.Phone}";
	crmMashup += "&crm_user_email={!$User.Email}";
	crmMashup += "&crm_account_id={!Account.Id}";
	crmMashup += "&crm_opportunity_id={!Opportunity.Id}";
	crmMashup += "&crm_account_name=" + escape("{!SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE( SUBSTITUTE(Account.Name, "\\" , "\\\\" ) , "'" , "\\x27") , "&" , "\\x26") , "<" , "\\x3c") , ">" , "\\x3e") , "=" , "\\x3d") , "\"", "\\x22")}");
	crmMashup += "&crm_account_ticker=" + escape("{!SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE( SUBSTITUTE(Account.TickerSymbol, "\\" , "\\\\" ) , "'" , "\\x27") , "&" , "\\x26") , "<" , "\\x3c") , ">" , "\\x3e") , "=" , "\\x3d") , "\"", "\\x22")}");
	crmMashup += "&crm_account_website=" + escape("{!SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE( SUBSTITUTE(Account.Website, "\\" , "\\\\" ) , "'" , "\\x27") , "&" , "\\x26") , "<" , "\\x3c") , ">" , "\\x3e") , "=" , "\\x3d") , "\"", "\\x22")}");
	crmMashup += "&crm_account_city=" + escape("{!SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE( SUBSTITUTE(Account.BillingCity, "\\" , "\\\\" ) , "'" , "\\x27") , "&" , "\\x26") , "<" , "\\x3c") , ">" , "\\x3e") , "=" , "\\x3d") , "\"", "\\x22")}");
	crmMashup += "&crm_account_state=" + escape("{!SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE( SUBSTITUTE(Account.BillingState, "\\" , "\\\\" ) , "'" , "\\x27") , "&" , "\\x26") , "<" , "\\x3c") , ">" , "\\x3e") , "=" , "\\x3d") , "\"", "\\x22")}");
	crmMashup += "&crm_account_postalcode=" + escape("{!SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE( SUBSTITUTE(Account.BillingPostalCode, "\\" , "\\\\" ) , "'" , "\\x27") , "&" , "\\x26") , "<" , "\\x3c") , ">" , "\\x3e") , "=" , "\\x3d") , "\"", "\\x22")}");
	crmMashup += "&crm_account_country=" + escape("{!SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE(SUBSTITUTE( SUBSTITUTE(Account.BillingCountry, "\\" , "\\\\" ) , "'" , "\\x27") , "&" , "\\x26") , "<" , "\\x3c") , ">" , "\\x3e") , "=" , "\\x3d") , "\"", "\\x22")}");
	crmMashup += "&crm_server_url=" + escape("{!API.Partner_Server_URL_170}");
	crmMashup += "&crm_session_id={!API.Session_ID}";
	crmMashup += "&crmUID=" + get_cookie('sid_Client');
	crmMashup += "&crm_size=" + frameHeight;
	crmMashup += "&crm_context=opportunity";
	crmMashup += "&crm_version=v53";
	crmMashup += "&crm_deploy_id=1";
	window.location.replace(crmMashup);
}

if (window.addEventListener){ 
	window.addEventListener("load", doLoadMashup, false); 
} else if (window.attachEvent){ 
	var evt = window.attachEvent("onload", doLoadMashup); 
} else { 
	window.onload = doLoadMashup;
} 	
</script>