.THIS .slds-icon {
     width: 1rem;
    height: 1rem;
    border-radius: .25rem;
    fill: rgb(255, 255, 255);
}

.THIS .span.slds-button {
         font-size: .3rem;
    line-height: .5rem;
}
.THIS input::-webkit-input-placeholder { font-size:12px }
.THIS input::-moz-placeholder { font-size:12px } /* firefox 19+ */
.THIS input:-ms-input-placeholder { font-size:12px } /* ie */
.THIS input:-moz-placeholder { font-size:12px }
.THIS.slds-picklist .slds-dropdown {
    width: 13rem;
}
.THIS label.slds-form-element__label {
    margin: 10px;
    font-size:12px;
}

.THIS.slds-lookup__item-action--label{
    height:30px;
    
}