/*.THIS.container{
    overflow-x:scroll;
    white-space: nowrap;
    width:100%;
}*/
.THIS .timelineRectangle {
    width: 150px;
 	height: 90px;
 	margin: 0 0 0 5px;
	 
    display: inline-block;
  	text-align: center;
  	vertical-align:middle;
    border-radius:5px;
}

.THIS .timelineRectangle:hover{
    color:white;
    background-color:darkgrey;
}
.THIS .detailedViewGrid
{
    
}
.THIS span{
    width:100%;
    display: inline-block;
  	vertical-align: middle;
  	line-height: normal;
    word-wrap: break-word;
}