package.xml
classes/AbstractDataColumn.cls
classes/AbstractDataColumn.cls-meta.xml
classes/AbstractDataRow.cls
classes/AbstractDataRow.cls-meta.xml
classes/AbstractDataTable.cls
classes/AbstractDataTable.cls-meta.xml
classes/AbstractDataTableTest.cls
classes/AbstractDataTableTest.cls-meta.xml
classes/AbstractDataWriter.cls
classes/AbstractDataWriter.cls-meta.xml
classes/AbstractExpression.cls
classes/AbstractExpression.cls-meta.xml
classes/AbstractIdentifier.cls
classes/AbstractIdentifier.cls-meta.xml
classes/AbstractTransformer.cls
classes/AbstractTransformer.cls-meta.xml
classes/AnimalLocator.cls
classes/AnimalLocator.cls-meta.xml
classes/AnimalLocatorMock.cls
classes/AnimalLocatorMock.cls-meta.xml
classes/AnimalLocatorTest.cls
classes/AnimalLocatorTest.cls-meta.xml
classes/AnimalsCallouts.cls
classes/AnimalsCallouts.cls-meta.xml
classes/AnimalsCalloutsTest.cls
classes/AnimalsCalloutsTest.cls-meta.xml
classes/AnimalsHttpCalloutMock.cls
classes/AnimalsHttpCalloutMock.cls-meta.xml
classes/Automatch.cls
classes/Automatch.cls-meta.xml
classes/Autopost.cls
classes/Autopost.cls-meta.xml
classes/BatchForFixingActuals.cls
classes/BatchForFixingActuals.cls-meta.xml
classes/BatchPoster.cls
classes/BatchPoster.cls-meta.xml
classes/BatchProcessingForInitialSetup.cls
classes/BatchProcessingForInitialSetup.cls-meta.xml
classes/Context.cls
classes/Context.cls-meta.xml
classes/EvalTransformer.cls
classes/EvalTransformer.cls-meta.xml
classes/exp_string_Concat.cls
classes/exp_string_Concat.cls-meta.xml
classes/expr_input.cls
classes/expr_input.cls-meta.xml
classes/expr_literal.cls
classes/expr_literal.cls-meta.xml
classes/expr_String.cls
classes/expr_String.cls-meta.xml
classes/Expression.cls
classes/Expression.cls-meta.xml
classes/ExpressionBase.cls
classes/ExpressionBase.cls-meta.xml
classes/FFATests.cls
classes/FFATests.cls-meta.xml
classes/ffdcWelcomeController.cls
classes/ffdcWelcomeController.cls-meta.xml
classes/GenericDataColumn.cls
classes/GenericDataColumn.cls-meta.xml
classes/GenericDataRow.cls
classes/GenericDataRow.cls-meta.xml
classes/GenericDataTable.cls
classes/GenericDataTable.cls-meta.xml
classes/InitialSetupWorkForCloningController.cls
classes/InitialSetupWorkForCloningController.cls-meta.xml
classes/InquiryTest.cls
classes/InquiryTest.cls-meta.xml
classes/JournalItemHandlerTests.cls
classes/JournalItemHandlerTests.cls-meta.xml
classes/MapItem.cls
classes/MapItem.cls-meta.xml
classes/Mapping.cls
classes/Mapping.cls-meta.xml
classes/MatchingQueuable.cls
classes/MatchingQueuable.cls-meta.xml
classes/MyObjectTriggerTest.cls
classes/MyObjectTriggerTest.cls-meta.xml
classes/OcrRemotingController.cls
classes/OcrRemotingController.cls-meta.xml
classes/OcrService.cls
classes/OcrService.cls-meta.xml
classes/OcrTypes.cls
classes/OcrTypes.cls-meta.xml
classes/OLIActionPostInvoice.cls
classes/OLIActionPostInvoice.cls-meta.xml
classes/OLIActionTestOIA.cls
classes/OLIActionTestOIA.cls-meta.xml
classes/PassthroughTransformer.cls
classes/PassthroughTransformer.cls-meta.xml
classes/PDFController.cls
classes/PDFController.cls-meta.xml
classes/ProjectBillingController.cls
classes/ProjectBillingController.cls-meta.xml
classes/ProjectPlannerExport.cls
classes/ProjectPlannerExport.cls-meta.xml
classes/PSABillingTests.cls
classes/PSABillingTests.cls-meta.xml
classes/PSATask2Event.cls
classes/PSATask2Event.cls-meta.xml
classes/PSEBatchCallback.cls
classes/PSEBatchCallback.cls-meta.xml
classes/QueryDescriptor.cls
classes/QueryDescriptor.cls-meta.xml
classes/ScannedImageController.cls
classes/ScannedImageController.cls-meta.xml
classes/ScannedImageRemoting.cls
classes/ScannedImageRemoting.cls-meta.xml
classes/SObjectDataColumn.cls
classes/SObjectDataColumn.cls-meta.xml
classes/SObjectDataRow.cls
classes/SObjectDataRow.cls-meta.xml
classes/SObjectDataTable.cls
classes/SObjectDataTable.cls-meta.xml
classes/SObjectDataWriter.cls
classes/SObjectDataWriter.cls-meta.xml
classes/TogglePINHoldStatus.cls
classes/TogglePINHoldStatus.cls-meta.xml
components/extBootstrap.component
components/extBootstrap.component-meta.xml
objects/My_Object__c.object
pages/CheckStatus.page
pages/CheckStatus.page-meta.xml
pages/ClearOCR.page
pages/ClearOCR.page-meta.xml
pages/ffdcwelcome.page
pages/ffdcwelcome.page-meta.xml
pages/FileUploaderPage.page
pages/FileUploaderPage.page-meta.xml
pages/InitialSetupWorkForCloning.page
pages/InitialSetupWorkForCloning.page-meta.xml
pages/InvoicePDF.page
pages/InvoicePDF.page-meta.xml
pages/OcrOutput.page
pages/OcrOutput.page-meta.xml
pages/PDFPage.page
pages/PDFPage.page-meta.xml
pages/ProcessFields.page
pages/ProcessFields.page-meta.xml
pages/ProcessImage.page
pages/ProcessImage.page-meta.xml
pages/ProjectPlannerExport.page
pages/ProjectPlannerExport.page-meta.xml
pages/remittances.page
pages/remittances.page-meta.xml
pages/ViewOCR.page
pages/ViewOCR.page-meta.xml
staticresources/ConfigXMLAll.resource
staticresources/ConfigXMLAll.resource-meta.xml
staticresources/GetAnimalResource.resource
staticresources/GetAnimalResource.resource-meta.xml
staticresources/jquery.resource
staticresources/jquery.resource-meta.xml
staticresources/ocr.resource
staticresources/ocr.resource-meta.xml
triggers/AutotPostTrigger.trigger
triggers/AutotPostTrigger.trigger-meta.xml
triggers/ExpenseTrigger.trigger
triggers/ExpenseTrigger.trigger-meta.xml
triggers/MyObjectTrigger1.trigger
triggers/MyObjectTrigger1.trigger-meta.xml
triggers/MyObjectTrigger2.trigger
triggers/MyObjectTrigger2.trigger-meta.xml
triggers/PSATaskAssignment2EventTrigger.trigger
triggers/PSATaskAssignment2EventTrigger.trigger-meta.xml
triggers/RBTrigger.trigger
triggers/RBTrigger.trigger-meta.xml
triggers/TestRR.trigger
triggers/TestRR.trigger-meta.xml
triggers/TransactionLineItemTrigger.trigger
triggers/TransactionLineItemTrigger.trigger-meta.xml
