<?xml version="1.0" encoding="UTF-8"?>
<Network xmlns="http://soap.sforce.com/2006/04/metadata">
    <allowMembersToFlag>true</allowMembersToFlag>
    <branding>
        <loginFooterText>WWComputing.com WorldWide Educational Games</loginFooterText>
        <loginLogo>Communities_Shared_Document_Folder/logo_company_png.png</loginLogo>
        <pageHeader>Public_Documents/Community_Logo.png</pageHeader>
        <primaryColor>#837B67</primaryColor>
        <primaryComplementColor>#FFFFFF</primaryComplementColor>
        <quaternaryColor>#AAA38B</quaternaryColor>
        <quaternaryComplementColor>#222222</quaternaryComplementColor>
        <secondaryColor>#CBC4AD</secondaryColor>
        <tertiaryColor>#E6E4DC</tertiaryColor>
        <tertiaryComplementColor>#222222</tertiaryComplementColor>
        <zeronaryColor>#CBC4AD</zeronaryColor>
        <zeronaryComplementColor>#222222</zeronaryComplementColor>
    </branding>
    <changePasswordTemplate>unfiled$public/CommunityChangePasswordEmailTemplate</changePasswordTemplate>
    <description>Community for WorldWide Educational Games (9 Domains)</description>
    <emailSenderAddress>ykim@salesforce.com</emailSenderAddress>
    <emailSenderName>WorldWide Educational Games</emailSenderName>
    <enableGuestChatter>true</enableGuestChatter>
    <enableInvitation>false</enableInvitation>
    <enableKnowledgeable>true</enableKnowledgeable>
    <enableNicknameDisplay>false</enableNicknameDisplay>
    <enablePrivateMessages>true</enablePrivateMessages>
    <enableReputation>true</enableReputation>
    <forgotPasswordTemplate>unfiled$public/CommunityForgotPasswordEmailTemplate</forgotPasswordTemplate>
    <networkMemberGroups>
        <profile>Admin</profile>
        <profile>Service Agent</profile>
        <profile>Self-Service Community User</profile>
        <profile>HighVolumePortal</profile>
    </networkMemberGroups>
    <picassoSite>WorldWide_Educational_Games1</picassoSite>
    <reputationLevels>
        <level>
            <lowerThreshold>0.0</lowerThreshold>
        </level>
        <level>
            <lowerThreshold>51.0</lowerThreshold>
        </level>
        <level>
            <lowerThreshold>151.0</lowerThreshold>
        </level>
        <level>
            <lowerThreshold>401.0</lowerThreshold>
        </level>
        <level>
            <lowerThreshold>801.0</lowerThreshold>
        </level>
        <level>
            <lowerThreshold>1501.0</lowerThreshold>
        </level>
        <level>
            <lowerThreshold>2501.0</lowerThreshold>
        </level>
        <level>
            <lowerThreshold>4001.0</lowerThreshold>
        </level>
        <level>
            <lowerThreshold>6001.0</lowerThreshold>
        </level>
        <level>
            <lowerThreshold>10001.0</lowerThreshold>
        </level>
    </reputationLevels>
    <reputationPointsRules>
        <pointsRule>
            <eventType>FeedItemYourAnswerMarkedBest</eventType>
            <points>0</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemPostQuestion</eventType>
            <points>0</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemMarkAnswerAsBest</eventType>
            <points>0</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemAnswerAQuestion</eventType>
            <points>0</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemReceiveAnAnswer</eventType>
            <points>0</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemReceiveAMention</eventType>
            <points>5</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemWriteAPost</eventType>
            <points>1</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemLikeSomething</eventType>
            <points>1</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemReceiveALike</eventType>
            <points>5</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemReceiveAComment</eventType>
            <points>5</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemSomeoneSharesYourPost</eventType>
            <points>5</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemMentionSomeone</eventType>
            <points>1</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemWriteAComment</eventType>
            <points>1</points>
        </pointsRule>
        <pointsRule>
            <eventType>FeedItemShareAPost</eventType>
            <points>1</points>
        </pointsRule>
    </reputationPointsRules>
    <selfRegProfile>self-service community user</selfRegProfile>
    <selfRegistration>true</selfRegistration>
    <sendWelcomeEmail>true</sendWelcomeEmail>
    <site>WorldWide_Educational_Games</site>
    <status>Live</status>
    <tabs>
        <defaultTab>UserProfile</defaultTab>
        <standardTab>UserProfile</standardTab>
        <standardTab>Chatter</standardTab>
        <standardTab>ChatterAnswers</standardTab>
        <standardTab>Idea</standardTab>
        <standardTab>IdeaTheme</standardTab>
        <standardTab>Case</standardTab>
    </tabs>
    <urlPathPrefix>EducationalGames</urlPathPrefix>
    <welcomeTemplate>unfiled$public/CommunityWelcomeEmailTemplate</welcomeTemplate>
</Network>
