<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head></head>
<BODY topmargin="0" bottommargin="0" leftmargin="0" rightmargin="0"
	marginwidth="0" marginheight="0" scroll="no">
  <script language="JavaScript">
  <!--
  	var nameSpace = 'CRMfusionDBR101';
    document.write( '<object classid=\"clsid:D27CDB6E-AE6D-11cf-96B8-444553540000\" ' +
        'id=\"FlexSalesforce\" width=\"100%\" height=\"600\" ' +
        'codebase=\"https://fpdownload.macromedia.com/get/flashplayer/current/swflash.cab\"> ' +
        '<param name=\"movie\" value=\"{!Scontrol.JavaArchive}\" /> ' +
        '<param name=\"quality\" value=\"high\" /><param name=\"play\" value=\"true\" /> ' +
        '<param name=\"bgcolor\" value=\"#f3f3ec\" /> ' +
        '<param name=\"allowScriptAccess\" value=\"always\" /> ' +
        '<param name=\"flashvars\" ' +
        'value=\"session_id={!API.Session_ID}&server_url={!API.Partner_Server_URL_170}' +
        '&scenario_type={!Duplicate_Warning__c.Scenario_Type__c}' +
        '&dupe_warning_id={!Duplicate_Warning__c.Id}' +
        '&scenario_id={!Duplicate_Warning__c.ScenarioId__c}' +
        '&name_space=' + nameSpace + '\" /> ' +
        '<embed src=\"{!Scontrol.JavaArchive}\" play=\"true\" bgcolor=\"#f3f3ec\" ' +
        'width=\"100%\" height=\"600\" name=\"FlexSalesforce\" align=\"middle\" ' +
        'flashvars=\"session_id={!API.Session_ID}&server_url={!API.Partner_Server_URL_170}' +
        '&dupe_warning_id={!Duplicate_Warning__c.Id}' +
        '&scenario_type={!Duplicate_Warning__c.Scenario_Type__c}' +
        '&scenario_id={!Duplicate_Warning__c.ScenarioId__c}' +
        '&name_space=' + nameSpace + '\" ' +
        'loop=\"false\" allowScriptAccess=\"always\" type=\"application/x-shockwave-flash\" ' +
        'pluginspage=\"http://www.adobe.com/go/getflashplayer\"> ' +
        '</embed></object>' );
  //-->
  </script>  
</body>
</html>