<HTML>
<HEAD>
<link href="/sCSS/13.0/1216061467000/Theme2/default/ie7/elements.css" media="handheld,print,projection,screen,tty,tv" rel="stylesheet" type="text/css" />
<link href="/sCSS/13.0/1216061467000/Theme2/default/ie7/common.css" media="handheld,print,projection,screen,tty,tv" rel="stylesheet" type="text/css" />
<link href="/sCSS/13.0/1216061467000/Theme2/default/ie7/homeCalendar.css" media="handheld,print,projection,screen,tty,tv" rel="stylesheet" type="text/css" />
<link href="/sCSS/13.0/1216061467000/Theme2/default/ie7/dashboard.css" media="handheld,print,projection,screen,tty,tv" rel="stylesheet" type="text/css" />
<link href="/sCSS/13.0/1217365965000/Theme2/ie7/dStandard.css" media="handheld,print,projection,screen,tty,tv" rel="stylesheet" type="text/css" />
<link href="/sCSS/13.0/1217495555000/Theme2/00D400000007Ym1/00540000000yr05/ie7/dCustom0.css" media="handheld,print,projection,screen,tty,tv" rel="stylesheet" type="text/css" />
</HEAD>
<STYLE>

h2 {
   font-family:'Arial','Helvetica',sans-serif;
   font-weight: bold;
   font-size: 12px;
   height: 20px; 
}

pbTitle {
   vertical-align: middle;
}

.setupTitle {
   height: 200px;
}

.setupOverview {
   font-family:'Arial','Helvetica',sans-serif;
   font-size: 12px;
}


</STYLE>
<BODY class="Custom39Tab overviewPage">

<div class="bPageTitle">
<div class="ptBody secondaryPalette">
<div class="greeting">
<div class="content">
   <img title="Account" class="pageTitleIcon" alt="Account" src="/s.gif"/>
   <span class="pageType" class="setupTitle">
      <h1>Z-Billing for Salesforce.com</h1>
   </span>
</div>
</div>
</div>
</div>

<div>
<h2>Welcome to Z-Billing for Salesforce.com!</h2>
<p>&nbsp; &nbsp; &nbsp; Thank you for installing Z-Billing for Salesforce.com! Before you get started, there are a couple steps you have to complete to get the most out of this application. (Be sure to perform the following steps as
a System Administrator of Salesforce.com.)</p>
</div>

<!-- task -->
<div>
<div class="bPageBlock secondaryPalette">
<div class="pbHeader">
<table cellspacing="0" cellpadding="0" border="0">
   <tbody>
      <tr>
         <td class="pbTitle">
         <h2>Step 1: Configure your Account Layouts</h2>
         </td>
         <td class="pbHelp"></td>
      </tr>
   </tbody>
</table>
</div>
<div class="pbBody">
<table cellspacing="0" cellpadding="0" border="0" class="setupOverview">
   <tbody>
      <tr>
         <td>Follow the below steps to configure your Account Layouts:
         <ol>
            <li>Navigate to "Setup->App Setup->Customize->Accounts->Page Layouts".</li>
            <li>Click on the Account Layout you want the Z-Billing objects to appear on.</li>
            <li>Click on the "edit" link next to the Account Layout you want the Z-Billing objects to appear on.</li>
            <li>On the bottom-right hand of the page, there is a "View" drop-down. Select "Account Related Lists".</li>
            <li>In the "Account Related Lists" section, drag-and-drop the "Billing Accounts" item into the "Related List Section" of the Account Layout.</li>
            <li>Perform the same drag-and-drop for Subscriptions, Subscription Products and Subscription Charges.</li>
            <li>Click the "Save" button.</li>
         </ol>
         &nbsp; &nbsp; &nbsp; Additionally, you can customize which Z-Billing Object fields appear on the Account Related Lists. Below are
         the steps for customizing Subscription fields in the related list on the Account Layout.
         <ol>
            <li>From the Account "Edit Page Layout" page, click on the "Subscription" Related List section.</li>
            <li>Click on "Edit Properties". A window will pop up.</li>
            <li>In the Available Fields section, click on the MRR field.</li>
            <li>Click "Add" to add the field to the related list layout.
            <li>Repeat steps 3 and 4 for each field you wish to add to the view.</li>
            <li>It is recommended that you uncheck the box in the "Standard Buttons" section at the bottom of the pop-up (the one labeled "New [New]").  This will prevent users from attempting to enter new data.  Any new data entered in this way will be overwritten when the data is synchronized.</li> 
            <li>Click "OK" to close the pop up window.</li>
            <li>You may also add fields for Subscriptions and Subscription Product & Charges by repeating Steps 1 – 5 for each of the objects.</li>
            <li>On the Account "Edit Page Layout" page, click the "Save" button.</li>
         </ol>
         &nbsp; &nbsp; &nbsp; After completing the above steps, you should now see related lists in your Account Detail page.
         </td> 
      </tr>
   </tbody>
</table>
</div>
<div class="pbFooter secondaryPalette">
<div class="bg" /></div>
</div>
</div>


<!-- task -->
<div>
<div class="bPageBlock secondaryPalette">
<div class="pbHeader">
<table cellspacing="0" cellpadding="0" border="0">
   <tbody>
      <tr>
         <td class="pbTitle">
         <h2>Step 2: Configure your User Profiles</h2>
         </td>
         <td class="pbHelp"></td>
      </tr>
   </tbody>
</table>
</div>
<div class="pbBody">
<table cellspacing="0" cellpadding="0" border="0" class="setupOverview">
   <tbody>
      <tr>
         <td>If your organization supports Custom Profiles, follow the below steps to configure your User Profiles:
         <ol>
            <li>Navigate to "Setup->Administrative Setup->Manage Users->Users".</li>
            <li>Click on the "edit" link next to the User that will use Z-Billing for Salesforce.com.</li>
            <li>Find the "Profile" field and select "Read-Only Zuora Profile".</li>
            <li>Click the "Save" button.</li>
            <li>Repeat the above steps for all Users using Z-Billing for Salesforce.com application.</li>
         </ol>

         </td>
      </tr>
   </tbody>
</table>
</div>
<div class="pbFooter secondaryPalette">
<div class="bg" /></div>
</div>
</div>

<div>
<p>
&nbsp; &nbsp; &nbsp; 
After associating a Zuora Customer Account with a Salesforce.com Account (Using a 15-character Salesforce.com Account ID 
in a Zuora Customer Account CRM Account ID), you can sync from Zuora and view Z-Billing information in Salesforce.com.
</p>
<p>&nbsp; &nbsp; &nbsp; Finally, here are a few notes about this release:
<ol>
   <li>Billing Accounts, Subscriptions, Subscription Rate Plans and Subscription Charges should never be 
   edited in Salesforce.com. They should be edited in Zuora directly.</li>
   <li>Do not create any child objects of the above Z-Billing objects, as they are subject to deletion
   upon a re-sync.
</ol>
</p>
<p>&nbsp; &nbsp; &nbsp; Thanks again for using Z-Billing for Salesforce.com!
</p>

</div>

</BODY>
</HTML>